@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bb {
  border: solid blue;
}

.br {
  border: solid red;
}

.bh {
  border: solid black;
}

.bg {
  border: solid green;
}

.by {
  border: solid yellow;
}
